<!DOCTYPE html>
<html>
<head>
  <title>Lista de links</title>
  <link rel="import" href="teste/css/links.css">
  <link rel="import" href="teste/css/snip1217.css">
</head>
<body>

<ul  style="background-color: #4285f4;" class="snip1217">
  <li class="current"><a href="#/listlinks" data-hover="Home">Página principal</a></li>
  <li><a href="#/sobre" data-hover="About Us">Quem somos</a></li>
  <li><a href="#/addlink" data-hover="Blog">Adicionar link</a></li>
  <li><a href="#/contato" data-hover="Contact">Contato</a></li>
</ul>

<div ng-controller="shareLinkController as shareLink">
    <div  style="background-color: #4285f4;" class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Adicionar link </h1>
        <small>Para adicionar um link é simples, preencha os campos abaixo em seguida clique no botão Adicionar.</small>
    </div>


    <div class="clearfix"></div><br />

    <div class="container">

        
         <form name="formLink" method='post'>
     
        <table class='table table-bordered'>
     
            <tr>
                <td>Link</td>
                <td><input type='text' name='nome' class='form-control' ng-model="shareLink.link.link" required></td>
            </tr>
     
            <tr>
                <td>Descrição</td>
                <td><input type='text' name='desc' class='form-control' ng-model="shareLink.link.description" required></td>
            </tr>
     
            <tr>
                <td>Tags</td>
                <td><input type='text' name='tag' class='form-control' ng-model="shareLink.link.tag" required></td>
            </tr>
            <tr>
                <td>Avalie</td>
                <td><input type='number' name='rate' class='form-control' ng-model="shareLink.link.rate" required></td>
            </tr>
            <tr>
                <td>Imagem</td>
                <td><input type="file" ng-model="shareLink.link.img" base-sixty-four-input required></td>
            </tr>
     
            <tr>
                <td colspan="2">
                
                <a href="#/listlinks" class="btn btn-large btn-success" ng-if="formLink.$valid" ng-click="shareLink.postLink()" > &nbsp; Adicionar</a>

           
                <a href="#/listlinks" class="btn btn-large btn-success"><i class="glyphicon glyphicon-backward"></i> &nbsp; Voltar à pagina principal</a>


                </td>
            </tr>
     
        </table>
</form>
     
     
</div>
    

</div>
</body>
</html>